* {
  direction: rtl;
}

.bg-app {
  color: white;
  background-color: cadetblue;
}
.form {
  z-index: 1;
}
.pagination {
  flex-direction: row;
  display: flex;
}

.next,
.prev,
.break {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #036bfc;
  border-radius: 8px;
  border: 1px solid #dcdfe3;
}
.page {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: white;

  border: 1px solid #dcdfe3;
}
.act {
  background-color: #c3d2eb;
}
.page:hover {
  background-color: #edf0f5;
}
.link {
  display: inline-block;
  position: relative;
  z-index: 1;

  padding: 2.5em;
  margin: -2em;
}
.nextprev {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: white;
  padding: 2.5em;
  margin: -2em;
}
