.bg-app {
  color: white;
  background-color: cadetblue;
}
.form {
  z-index: 1;
}
.pagination {
  margin: 20px;
  flex-direction: row;
  display: flex;
}
.next,
.prev,
.break,
.page {
  text-align: center;
  background-color: white;

  border: 1px solid #dcdfe3;
  width: 50px;
}
.next,
.prev,
.break,
.page {
  text-align: center;
  background-color: white;

  border: 1px solid #dcdfe3;
  width: 50px;
  padding: 5px;
}
.active {
  background-color: #c3d2eb;
}
.page:hover {
  background-color: #edf0f5;
}
.link {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 2em;
  margin: -2em;
}
